Port 22000
UseDNS no
ListenAddress 0.0.0.0
Ciphers aes128-cbc,3des-cbc,aes192-cbc,aes256-cbc,chacha20-poly1305@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm@openssh.com,aes256-gcm@openssh.com

# Logging
SyslogFacility AUTH
LogLevel DEBUG3

#Timeout - 30s (10 * 3)
ClientAliveInterval 10 
ClientAliveCountMax 3

PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
IgnoreUserKnownHosts yes
ChallengeResponseAuthentication no
#Banner /etc/issue.net

UsePAM yes
Subsystem sftp internal-sftp -l INFO
Match group ftpaccess
    ChrootDirectory %h
    X11Forwarding no
    AllowTcpForwarding no
    PasswordAuthentication no
    ForceCommand internal-sftp